<launch>

 <!-- Pubblica la trasformazione relativa fra il tool e la ventosa -->
  	<node pkg="tf2_ros" type="static_transform_publisher" name="ab" args="-0.366689 0.166593 0.531577 -0.6111657, 0.4122807, -0.3825764, 0.5568989 robot_arm_link0 camera" />
  	<node pkg="tf2_ros" type="static_transform_publisher" name="ac" args="0.066, -0.051, 0.038 0.671, 0.284, -0.654, -0.204 box1_1 grasp_object0" />
	
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="ac" args="0.0, 0.0, 0.0 -0.5, -0.5, 0.5, 0.5 box1_1 a" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="az" args="-0.08, 0.02, -0.08 -0.0, -0.0, 0.0, 1.0 a grasp_object0" /> -->

  	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="ac" args=" 0.277, 0.587, 0.351 -0.034, -0.705, -0.366, 0.607 robot_arm_link0 ciao" /> -->

</launch>