<launch>

  <!-- Calibrazione della camera -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_camera_tf2" args="  -0.11029, 0.243658, 0.0812428, -0.0194043, 0.7018808, 0.7120285, 0.0014939 panda_link0 camera_color_optical_frame" />

  <!-- Posa di grasp della prima scatola-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="grasp_pose_1" args=" -0.057, 0.019, 0.023, -0.292, 0.701, -0.394, 0.518 object_0_pose_0 grasp_box3" />

  <!-- Posa di grasp della seconda scatola-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="grasp_pose_2" args="  -0.057, 0.019, 0.023, -0.292, 0.701, -0.394, 0.518  object_0_pose_1 grasp_box2" />
  <!-- Posa di grasp della terza scatola-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="grasp_pose_3" args="  -0.057, 0.019, 0.023, -0.292, 0.701, -0.394, 0.518  object_0_pose_2 grasp_box1" />

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="grasp_pose_4" args="  -0.03, 0.0, -0.0, 0.0, -0.0, 0.0, 1.0 object_0_pose_0 object_0_pose_1" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="grasp_pose_5" args="  -0.03, 0.0, -0.0, 0.0, -0.0, 0.0, 1.0  object_0_pose_1 object_0_pose_2" /> -->

</launch>