<launch>

 <!-- Pubblica il comando per ruotare la camera pan-tilt -->

    <arg name="pan_angle" default="-2.6" />
    <arg name="tilt_angle" default="-0.1" />

    <!-- <arg name="pan_angle" default="-2.6" />
    <arg name="tilt_angle" default="-0.2" /> -->

    <node pkg="rostopic" type="rostopic" name="pan_node" args="pub /robot/pantilt/pantilt_pan_controller/command std_msgs/Float64 'data: $(arg pan_angle)'" if='true'/>
    <node pkg="rostopic" type="rostopic" name="tilt_node" args="pub /robot/pantilt/pantilt_tilt_controller/command std_msgs/Float64 'data: $(arg tilt_angle)'" if='true' />

 <!-- Lanciare il nodo client di Megapose per rilevare l'oggetto-->

    <rosparam command="load" file="$(find visp_megapose)/params/client_detection.yaml" />
    <param name="image_topic" type="string" value="/top_right_rgbd_camera_2/rgb/image_raw_crop" />
    <param name="camera_info_topic" type="string" value="/top_right_rgbd_camera_2/rgb/camera_info_crop" />
   
    <node pkg="timed_roslaunch" type="timed_roslaunch.sh" args="2 visp_megapose megapose_client_detection.launch" name="t1" output="screen"/>
    
</launch>
